@model TaxiApplication.BLL.ViewModels.LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/TaxiApplication.WEB.styles.css" asp-append-version="true" />


<form asp-action="Login" asp-controller="Account" asp-area="">
    <div class="max-width-200  mx-auto">
        <div class="form-floating mb-3 ">
            <input asp-for="Login" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label asp-for="Login" for="floatingInput">Login</label>
        </div>
        <div class="form-floating ">
            <input asp-for="Password" type="password" class="form-control " id="floatingPassword" placeholder="Password">
            <label asp-for="Password" for="floatingPassword">Password</label>
        </div>
@*        <p>

           <label asp-for="Login"></label>
            <input asp-for="Login"  />
      
        </p>
        <p>
 
            <label asp-for="Password"></label>
            <input asp-for="Password" />  
        </p>*@
        <p>
            <div class="btn-group d-flex justify-content-center mx-auto" role="group" aria-label="Basic example">
                <input class="btn btn-outline-success" type="submit" value="Login" />
                <button class="btn btn-outline-secondary" type="button" onclick="location.href='@Url.Action("Registration", "Account")'">Registration</button>
            </div>
          

        </p>
    </div>
</form>
<div asp-validation-summary="All"></div>

