
.main-nav-color-bg-gold {
    background-color: gold;
}

.main-nav-color-bg-yellow {
    background-color: #ffe259;
}

.main-nav-style-bold-20px {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}
