.image-options{
    height: 300px;
    width: 300px;
    border: 3px solid black;
}

.photo-input{
    font-size: 16px;
    font-weight: bold;
}

button.photo-btn {
    font-size: 14px;
    font-weight: bold;
    width: 10%;
    border-radius: 10px;
    background-color: darkgrey;
    color: black;
    transition: background-color 0.7s ease;
}

button.photo-btn:hover {
    background-color: springgreen;
    cursor: pointer;
}
