@{
	Layout = "_Layout";
	ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
	<head>
		<title>TaxiApplication.com</title>
		<meta charset="utf-8"/>
	</head>
	<body>
		<h2>This's TaxiApplication!</h2>
	</body>
</html>
