@model TaxiApplication.Domain.Entity.Client
@{
	Layout = "_Layout";
	ViewBag.Title = "AddClient";
}
<h1> Add Client</h1>

<form asp-action="AddClient" asp-controller="Client">
	<div>
		<p>
			<label asp-for="Login"></label>
			<input asp-for="Login" />
		</p>
		<p>
			<label asp-for="Profile.Name"></label>
			<input asp-for="Profile.Name"/>
		</p>
		<p>
			<label asp-for="Profile.Surname"></label>
			<input asp-for="Profile.Surname" />
		</p>
		<p>
			<label asp-for="Profile.Age"></label>
			<input asp-for="Profile.Age" />
		</p>
		<p>
			<label asp-for="Profile.PhoneNumber"></label>
			<input asp-for="Profile.PhoneNumber" />
		</p>
		<p>
			<label asp-for="Profile.Email"></label>
			<input asp-for="Profile.Email" />
		</p>
		<p>
			<label asp-for="Password"></label>
			<input asp-for="Password" />
		</p>
		<p>
			<input type="submit" value="Add Client" />
		</p>
		@*<input type="hidden" name="Profile.Id" value="@(Model?.Profile?.Id ?? 0)">
		<input type="hidden" name="Progile.ClientId" value="@(Model?.Profile?.Id ?? 0)">*@
		<input hidden="hidden" name="Role" value="@TaxiApplication.Domain.Enum.Role.Client" />
	</div>
</form>

<div asp-validation-summary="All"></div>
