<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - TaxiApp</title>
</head>

<body>
	<header>
		<div>
			<p>
				<a asp-controller="Client" asp-action="Index" asp-area="Admin">GetAllUsersLink</a>
				<a asp-controller="Client" asp-action="AddClient" asp-area="Admin">AddClient</a>
				<a asp-controller="Client" asp-action="AdminPanel" asp-area="Admin">AdminPanel</a>
				@*<a asp-controller="User" asp-action="UpdateUser" asp-area="User">UpdateUser</a>*@
			</p>
		</div>
	</header>

	<div>
		<main role="main">
			@RenderBody()
		</main>
	</div>
</body>

</html>
