<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - TaxiApp</title>
</head>

<body>
	<header>
		<div>
			<p>
				<a asp-controller="User" asp-action="Index" asp-area="User">GetAllUsersLink</a>
				<a asp-controller="User" asp-action="AddUser" asp-area="User">AddUser</a>
				<a asp-controller="User" asp-action="DeleteUser" asp-area="User">DeleteUser</a>
				<a asp-controller="User" asp-action="UpdateUser" asp-area="User">UpdateUser</a>
			</p>
		</div>
	</header>

	<div>
		<main role="main">
			@RenderBody()
		</main>
	</div>
</body>

</html>
