@model TaxiApplication.Domain.Entity.User
@{
	Layout = "_Layout";
	ViewBag.Title = "AddUser";
}
<h1> Add User</h1>

<form asp-action="AddUser" asp-controller="User">
	<div>
		<p>
			<label asp-for="Name"></label>
			<input asp-for="Name"/>
		</p>
		<p>
			<label asp-for="Surname"></label>
			<input asp-for="Surname" />
		</p>
		<p>
			<label asp-for="PhoneNumber"></label>
			<input asp-for="PhoneNumber" />
		</p>
		<p>
			<label asp-for="Email"></label>
			<input asp-for="Email" />
		</p>
		<p>
			<label asp-for="Password"></label>
			<input asp-for="Password" />
		</p>
		<p>
			<input type="submit" value="Add User" />
		</p>	
		<input hidden="hidden" name="Role" value="@TaxiApplication.Domain.Enum.Role.User" />
	</div>
</form>

<div asp-validation-summary="All"></div>
