@model TaxiApplication.Domain.Entity.Route.Route
@{
	ViewBag.Title = "Map";
}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
</head>
<body>
	<form asp-controller="Map" asp-action="BuildRoute" method="post" asp-area="">
		<p>
			<label asp-for="Description"></label>
			<input asp-for="Description" />
		</p>
		<p>
			<label asp-for="StartLocation"></label>
			<input asp-for="StartLocation" />

			<label asp-for="EndLocation"></label>
			<input asp-for="EndLocation" />
		</p>
		<p>
			<input type="submit" value="BuildRoute" />
		</p>
	</form>
	<div asp-validation-summary="All"></div>
</body>
</html>
