@model TaxiApplication.WEB.Controllers.LocationLists
@{
	ViewBag.Title = "Map";
}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />

	<script type="text/javascript">

		// Создание карты с bign key
		function CreateMap() {
			var map = new Microsoft.Maps.Map('#myMap', {
				credentials: 'AinPDDIFfN3bBR1qYpHkXZ14Mjxu3aVJF2D7tuHeu6aJlzH5YnWeq618SasshvFJAinPDDIFfN3bBR1qYpHkXZ14Mjxu3aVJF2D7tuHeu6aJlzH5YnWeq618SasshvFJ'
			});

			return map;
		}

		// Добавление маркеров на карту по координатам
		function AddMarkers(map, locations) {
			for (var i = 0; i < locations.length; i++) {
				var pushpin = new Microsoft.Maps.Pushpin(
					new Microsoft.Maps.Location(locations[i].latitude, locations[i].longitude),
					{
						title: locations[i].title
					});
				map.entities.push(pushpin);
			}
		}
		// Базовая функция вывода карты
		// Была сделана, потому что при обращении к bing api и передаче туда функции создания карты (CreateMap),
		// дальше работать с этой картой не представлялось возможности (чтобы добавить метку уже на существующую карту),
		// а создание новой карты лишь создавало второй объект.
		function GlobalStart() {
			@if (Model.LocationList != null)
			{
				<text>
					var locations = @Html.Raw(Json.Serialize(Model.LocationList));
					var map = CreateMap();
					AddMarkers(map, locations);
				</text>
			}
			else
			{
				<text>
						var locations = [
						{ latitude: 47.6062, longitude: -122.3321, title: 'Seattle' },
						{ latitude: 40.7128, longitude: -74.0060, title: 'New York' },
						{ latitude: 51.5074, longitude: -0.1278, title: 'London' }
					];
					var map = CreateMap();
					AddMarkers(map, locations);
				</text>
			}
		}
	</script>

	<!-- Reference to the Bing Maps SDK -->
	<script type='text/javascript'
			src='https://www.bing.com/api/maps/mapcontrol?callback=GlobalStart'
			async defer></script>



	@*	<script type='text/javascript'
	src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AinPDDIFfN3bBR1qYpHkXZ14Mjxu3aVJF2D7tuHeu6aJlzH5YnWeq618SasshvFJAinPDDIFfN3bBR1qYpHkXZ14Mjxu3aVJF2D7tuHeu6aJlzH5YnWeq618SasshvFJ'
	async defer></script>*@

</head>
<body>
	<div id="myMap" style="position:relative;width:1800px;height:600px;"></div>
</body>
</html>
